# Secrets from Google
GOOGLE_CLIENT_ID=replace_with_real_app_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=-replace_with_real_secret
NEXT_PUBLIC_GOOGLE_CLIENT_ID=replace_with_real_client_id_again.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_MAP_KEY=replace_with_google_map_key
SENDGRID_API_KEY=replace_with_sendgrid_api_key
SMTP_SERVER=smtp://smtpuser:smtppass@smtp.mailgun.org:587

# "Development" -- No need to change these
SERVICE_PASSWORD_DB=development
SERVICE_BASE64_JWT=ZGV2ZWxvcG1lbnQ=
SERVICE_PASSWORD_HASURAADMIN=development
SERVICE_FQDN_NEXT=http://localhost:6701
SERVICE_FQDN_HASURA=http://localhost:6702
NEXT_PUBLIC_CALENDAR_URL=$SERVICE_FQDN_NEXT
HASURA_SERVER_USER_EMAIL=gm@drunkcircle.com
SMTP_FROM=gm@drunkcircle.com