# These should be updated with real values
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
NEXT_PUBLIC_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_MAP_KEY=YOUR_GOOGLE_MAP_KEY
SENDGRID_API_KEY=SG.YOUR_SENDGRID_API_KEY
SMTP_SERVER=YOUR_SMTP_SERVER
DEV_HOST=YOUR_DEV_MACHINE_IP

# These are fine for development
SMTP_FROM=gm@drunkcircle.com
HASURA_SERVER_USER_EMAIL=gm@drunkcircle.com
HASURA_GRAPHQL_JWT_SECRET='{"type":"HS256","key":"iJqS6+ZfzQQ3s/fiFHd/9q98+JorNxWKN3N+IeqCksg="}'
SERVICE_PASSWORD_DB=development
SERVICE_BASE64_JWT=iJqS6+ZfzQQ3s/fiFHd/9q98+JorNxWKN3N+IeqCksg=
SERVICE_PASSWORD_HASURAADMIN=development
SERVICE_URL_NEXT=http://${DEV_HOST}:6703
SERVICE_URL_HASURA=http://${DEV_HOST}:6702
SERVICE_PASSWORD_NEXTAUTH=development

## Mappings for non-compose deploy (yarn dev)
HASURA_GRAPHQL_ADMIN_SECRET=$SERVICE_PASSWORD_HASURAADMIN
JWT_SECRET=$SERVICE_BASE64_JWT
NEXT_PUBLIC_CALENDAR_URL=$SERVICE_URL_NEXT
NEXT_PUBLIC_HASURA_ENDPOINT=${SERVICE_URL_HASURA}/v1/graphql
NEXT_PUBLIC_URL=$SERVICE_URL_NEXT
NEXTAUTH_URL=$SERVICE_URL_NEXT
